.dialogs {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.dialogsItem {
    color: #d3b914;
    text-decoration: none;
    padding-left: 6px;
}
.dialogsItem a.active {
    color: #e70c0c;
}
.dialogsItem img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.dialog {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    padding: 10px;
}
.messages {
    color: #02987d;
    text-decoration: none;
    padding: 10px;
    grid-row-start: 2;
}
.message {
    color: #efb70e;
}
.item img {
    grid-row-start: 1;
    width: 838px
}
.addMess {
    grid-row-start: 3
}